
<div class="options-header">
    <div class="row">
        <div class="col-sm-3">
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-search" style="top: 0px;"></span>
                <input type="text" class="form-control" aria-describedby="sizing-addon2" placeholder="Search for..." ng-model="nodeSearchText">
            </div>
        </div>
        <div class="col-sm-5 pull-right">
            <div class="btn-toolbar" role="group" >
                <div class="btn-group">
                    <a class="btn btn-default" ng-click="expandAll()" data-toggle="tooltip" title="Expand All"><img src="_$_nsysmon_$_/static/img/treenode-closed.png" />&nbsp;</a>
                    <a class="btn btn-default" ng-click="collapseAll()" data-toggle="tooltip" title="Collapse All"><img src="_$_nsysmon_$_/static/img/treenode-open.png" />&nbsp;</a>
                    <a class="btn btn-default" ng-click="expandLongest()" data-toggle="tooltip" title="Expand Longest"><span class="glyphicon glyphicon-time"></span>&nbsp;</a></a>
                </div>
                <div class="btn-group">
                    <a class="btn {{pickClass()}}" ng-click="togglePickMode()" data-toggle="tooltip" title="Click on a node to show only that node and its children">Pick</a>
                    <a id="unpick" class="btn btn-default" ng-click="unpick()" data-toggle="tooltip" title="Undo the effect of previous 'pick' operation, showing all root nodes">Unpick</a>
                </div>
                <div class="btn-group">
                    <a class="btn btn-default" ng-click="refresh()" data-toggle="tooltip" title="Fetch fresh data from the server">Refresh</a>
                    <a class="btn btn-default" ng-click="clear()" data-toggle="tooltip" title="Discard recorded data in the server">Clear</a>
                    <a class="btn btn-default" ng-if="!isStarted" ng-click="start()" data-toggle="tooltip" title="Start recording data in the server">Start</a>
                    <a class="btn btn-default" ng-if="isStarted" ng-click="stop()" data-toggle="tooltip" title="Stop recording data in the server">Stop</a>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-folder-open"></span>&nbsp;
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
                        <li><a href="{{getJsonDownloadLink()}}" data-toggle="tooltip" title="Directly download data from server" download="{{getJsonFilename()}}"><span class="glyphicon glyphicon-cloud-download"></span> JSON Export</a></li>
                        <li><a data-toggle="tooltip" title="Import JSON Data" onclick="$('#file').click();"><span class="glyphicon glyphicon-cloud-upload"></span> JSON Import</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ng-click="doExportAsExcel()" data-toggle="tooltip" title="Export currently visible data to Excel as CSV"><span class="glyphicon glyphicon-th-list"></span> CSV Export</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4 pull-right">
            <div class="input-group">
                <input type="checkbox" ng-model="hideTitleRows" ng-checked="true"/>Hide titles between trees<br>
                <input type="checkbox" ng-model="showDataTooltips" ng-checked="false"/>Show data in tooltips<br>
                <input type="checkbox" ng-model="hideSearchNonMatchingNodes" ng-checked="true"/>Hide non-matching child-nodes<br>
                <input type="file" id="file" onchange="angular.element(this).scope().doImportJSON()" style="visibility:hidden;"/>
            </div>
        </div>
    </div>
</div>
<div class="affix-placeholder"></div>
<div ng-if="isValidSearchActive()" class="alert alert-warning" role="alert">Some elements aren't displayed because they don't match the search.  <a ng-click="clearSearch()">Clear</a> search.</div>
<div ng-if="isSearchTooShort()" class="alert alert-warning" role="alert">Search text is too short, must have at least 4 characters.</div>
<div id="theTree"></div>


