<div style="clear: both;"></div>

<div class="options-header">
    <div class="button-box">
        <div class="btn-group">
            <a class="btn btn-default" ng-click="expandAll()" data-toggle="tooltip" title="Expand All"><img src="_$_nsysmon_$_/static/img/treenode-closed.png" /></a>
            <a class="btn btn-default" ng-click="collapseAll()" data-toggle="tooltip" title="Collapse All"><img src="_$_nsysmon_$_/static/img/treenode-open.png" /></a>
        </div>
        <div class="btn-group">
            <a class="btn btn-default" ng-click="refresh()" data-toggle="tooltip" title="Fetch fresh data from the server"><span class="glyphicon glyphicon-refresh"></span> Refresh</a>
        </div>
        <div class="btn-group">
            <a class="btn btn-default" ng-click="clear()" data-toggle="tooltip" title="Discard recorded data in the server"><span class="glyphicon glyphicon-trash"></span> Clear</a>
        </div>
    </div>
</div>
<div style="clear: both;"></div>
<br/>

<div id="tree"></div>