<div style="clear: both;"></div>

<div class="options-header">
    <div class="button-box">
        <div class="btn-group">
            <a class="btn btn-default" ng-click="refresh()" data-toggle="tooltip"
               title="Fetch fresh data from the server">Refresh</a>
        </div>
    </div>
</div>

<div style="clear: both;"></div>

    <div class="input-group" style="margin: 2em;">
        <span class="input-group-addon glyphicon glyphicon-globe input-group-addon"></span>
        <select class="selectpicker form-control" name="installationSelect" id="installationSearch" ng-model="installationSearch.installation">
            <option value="">All</option>
            <option ng-repeat="file in files | unique:'installation' | orderBy:'installation'" value="{{file.installation}}">{{file.installation}}</option>
        </select>

        <span class="input-group-addon glyphicon glyphicon-hdd input-group-addon"></span>
        <select class="selectpicker form-control" name="hostSelect" id="hostSelect" ng-model="hostSearch.host">
            <option value="">All</option>
            <option ng-repeat="file in files | unique:'host' | filter:installationSearch | unique:'host'| orderBy:'host'" value="{{file.host}}">{{file.host}}</option>
        </select>

        <span class="input-group-addon glyphicon glyphicon-calendar input-group-addon"></span>
        <select class="selectpicker form-control" name="dateSelect" id="dateSelect" ng-model="dateSearch.date">
            <option value="">All</option>
            <option ng-repeat="file in files | unique:'date'| orderBy:'date'" value="{{file.date}}">{{file.date}}</option>
        </select>

        <span class="input-group-addon glyphicon glyphicon glyphicon-tag input-group-addon"></span>
        <select class="selectpicker form-control" name="controllerIdSelect" id="controllerIdSelect" ng-model="controllerIdSearch.controllerId">
            <option value="">All</option>
            <option ng-repeat="file in files | unique:'controllerId'| orderBy:'controllerId'" value="{{file.controllerId}}">{{file.controllerName}}</option>
        </select>
    </div>

    <div class="panel-group" id="accordion">
        <!-- Controller-Grouping -->
        <div ng-repeat="fileControllerId in files | filter:controllerIdSearch | filter:installationSearch | filter:hostSearch | filter:dateSearch | orderBy:'controllerId' | unique:'controllerId'" class="panel panel-primary" id="{{fileControllerId.controllerId}}">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-target="#collapse{{fileControllerId.controllerId}}">{{fileControllerId.controllerName}}</a>
                </h3>
            </div>
            <div id="collapse{{fileControllerId.controllerId}}" class="panel-collapse collapse in">
                <ul class="list-unstyled">
                    <li ng-repeat="file in files | filter:fileControllerId.controllerId | filter:installationSearch | filter:hostSearch | filter:dateSearch | filter:controllerIdSearch  | orderBy:'name'">
                        &nbsp;
                        <a ng-if="file && file.processor" href="#/{{file.processor}}?loadfile={{file.name}}" title="Display Data"><span class="glyphicon glyphicon-indent-left"></span></a>
                        &nbsp;
                        <a target="_self" href="{{getJsonDownloadLink()}}/{{file.name}}" download="{{file.name}}.json"><span class="glyphicon glyphicon-download-alt"></span></a>
                        &nbsp;{{file.installation}} {{file.host}} {{file.date}} {{file.time}} ({{file.size}} byte)
                        <a ng-if="!file || !file.processor">{{file.name}} - not loadable</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>
