<div ng-app='NSysMonApp' ng-controller='CtrlTimedScalars' style="{position:relative;vertical-align: top}">
    <div class="options-header">
        <div class="button-box">
            <a class="btn btn-default" ng-click="refresh()" data-toggle="tooltip"
               title="Fetch fresh data from the server">Refresh</a>
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-random" aria-hidden="true"></span>
                <input type="checkbox" ng-model="autoRefresh" title="Activate autorefresh">
            </span>
            <div ng-hide="autoRefresh==false" >
                <input type="text" class="form-control" ng-model="autoRefreshSeconds" style="width:50px" title="duration">
                <span>Automatically refresh graph after {{autoRefreshSeconds}} seconds</span>
            </div>
            <div ng-hide="autoRefresh==true" >
                <!--very ugly hack to prevent the checkbox resizing-->
                &nbsp;
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
                <input type="checkbox" ng-model="useFilterMinutes" title="Use DisplayFilter">
            </span>
            <div ng-hide="useFilterMinutes==false" >
                <input type="text" class="form-control" ng-model="displayFilterMinutes" style="width:50px" title="duration">
                Show only last {{displayFilterMinutes}} minutes
            </div>
            <div ng-hide="useFilterMinutes==true" >
                <!--very ugly hack to prevent the checkbox resizing-->
                &nbsp;
            </div>
        </div>
    </div>


    <div style="clear:both"></div>

    <fieldset class="timedscalar-graph" style="width:98%">
        <legend>Graphical Display</legend>
        <nvd3 options='options' id='chart' data='graphData' api="rc.api"></nvd3>
    </fieldset>

    <div style="clear:both"></div>

    <div>
        <div ng-repeat="entry in timedScalars | timedScalarEntrySorter"
             class="timedScalar-option {{entriesToLoadDataFor.indexOf(entry.key) == -1 ? 'timedScalarOff' : 'timedScalarOn'}}"
             ng-click="toggleGraphData(entry.key)" >


            <div ng-if="entry.group"
                 class="{{entriesToLoadDataFor.indexOf(entry.key) == -1 ? 'timedScalarHeaderOff' : 'timedScalarHeaderOn'}}">
                <!--TODO FOX088S decide if to request icon or not -->
                <b>{{entry.group}}</b>
            </div>

            <div>
                <small><b>{{entry.key}}</b></small>
            </div>

            <div ng-if="entry.description">
                <small><small>{{entry.description}}</small></small>
            </div>
        </div>
    </div>

</div>
